/* navigation */
.navbar.bg{
    background-color: #222D31;
    font-size: 20px;
}
/* tollbar */
.toolbar.back{
    background-color: #662E91;
}
/* nav btn buttonใน nav */
button.nav.btn.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default {
    font-size: 0.9rem;
    padding: 0;
    color: #ffffff;
    font-weight: 100;
    line-height: 3rem;
}
.btn.nav.icon{
    color: #ffffff;
}
/* .itemnav.ma{
    margin: 8px;
    padding: 0px;
} */
 /* .fontlist.i {
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 100;
    line-height: 3rem;
}  */
/* ฟ้อนต์ item ใน nav  */
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 100;
    line-height: 3rem;
}
/* สีบรรทัดตารางต่างกัน */
tr:nth-child(even) {
    background-color: #EAEAEA;
}
/* สัพื้นหลัง dropdown */
.theme--light.v-list {
    background: #222D31;
}
/* สีตัวอักษร dropdown */
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #ffffff !important;
}
/* หัวของแต่ละหน้า */
.titlepage{
    text-align: center;
    font-size: 1.5rem;
}
.col.col-12 {
    padding: 0;
}
/* หน้า view ข้างล่างของ text พวกชื่อ */
.v-application p {
    margin-bottom: 0px;
}
.frameview{
    border: 1px solid;
    padding: 4px;
    border-radius:10px;
}
.bbbbb{
    margin: 8px;
}
/* ตรงกลางใน Changepassword */
.conchange{
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.iconedit{
    justify-content: flex-end;
    margin: 8px;
}

.text-center {
    text-align: center;
}
.iconeditac{
    text-align: end;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
}
.headtran{
    background: #D1D0D0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin: 8px;
}
/* ชิดขวา */
.r{
    text-align:end;  
}
.c{
    text-align: center;
}
.font.sub{
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 3rem;
}
.cardbo{
    border: 10px solid #EBF0F6;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0px;
}
.titlefont {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.nametool {
    color: white;
}
.marr{
    margin-right: 16px;
}
.marrt{
    margin-right: 16px;
    margin-top: 16px;
}
.cmart{
    margin-top: 16px;
}
p.text-sm-left {
    font-size: 1.0rem;
}
iframe{
    width: 500px;
    height: 400px;
    border: 0px;
}
@media screen and (max-width: 1264px) and (min-width: 960px){
    .font.sub{
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 3rem;
    }
    .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
        font-size: 1.1rem;
        color: #ffffff;
        font-weight: 100;
        line-height: 3rem;
    }
    iframe{
        width: 500px;
        height: 400px;
        border: 0px;
    }
    p.text-sm-left {
        font-size: 1.1rem;
    }
} 
@media screen and (max-width: 960px) and (min-width: 600px){
    .font.sub{
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 2rem;
    }
    .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
        font-size: 1.1rem;
        color: #ffffff;
        font-weight: 100;
        line-height: 3rem;
    }
    iframe{
        width: 300px;
        height: 200px;
        border: 0px;
    }
    p.text-sm-left {
        font-size: 0.85rem;
    }
}
@media screen and (max-width: 600px) {
    .font.sub{
        font-size: 0.9rem;
        font-weight: 100;
        line-height: 2rem;
    }
    .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
        font-size: 0.9rem;
        color: #ffffff;
        font-weight: 100;
        line-height: 3rem;
    }
    p.text-sm-left {
        font-size: 0.85rem;
    }
    iframe{
        width: 300px;
        height: 200px;
        border: 0px;
    }
}


